@keyframes animateBackground {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.box {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%;
    display: flex; /* Use flexbox to align content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */ /* Prevent overflow from animations */
}

.pattern {
    position: absolute; /* Positioned behind the content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
        rgba(255, 255, 255, 0.4) 8%, 
        transparent 8%
    );
    background-size: 5vmin 5vmin;
    background-position: 0% 0%;
    animation: animateBackground 2.75s ease-in-out infinite alternate-reverse;
    pointer-events: none; /* Prevent interaction on this background layer */
    z-index: 0; /* Ensure it's behind the content */
}